services:
  - type: web
    name: tank-duel-server
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: PORT
        value: "8080"
    branches:
      - main
